/***********************/
/* Scientist List View */
/***********************/

.gallery-heading {
  margin-bottom: 25px;
}
.thumbnail {
  max-width: 310px;
}
.thumbnail {
  margin-left: auto;
  margin-right: auto;
}
.thumbnail a:hover {
  text-decoration: none;
}
.thumbnail:hover {
  border-color: black;
}
/* Adjust the y-position when following link to Lab Alumni anchor */
#lab-alumni {
  padding-top: 135px;
  margin-top: -135px;
}


/*************************/
/* Scientist Detail View */
/*************************/

.scientist-photo {
  max-width: 100%;
}
