{% extends "lab_members/base.html" %}

{% block content %}

  <div class="row">
    {% include "lab_members/_alumni.html" %}

    <div class="col-sm-12 col-lg-3">
      <div class="row text-center">

        <img src={{ scientist.photo|default:"http://placehold.it/300x300" }} alt={{ scientist.full_name }}>
        <h2>{{ scientist.full_name }}</h2>

        {% if scientist.title %}
          <h4>{{ scientist.title }}</h4>
        {% endif %}

        <p><a href="mailto:{{ scientist.email }}">{{ scientist.email }}</a></p>
      </div>
    </div>

    <div class="col-sm-12 col-lg-9">
      {% include "lab_members/_employment.html" %}
      {% include "lab_members/_education.html" %}
      {% include "lab_members/_personal.html" %}
      {% include "lab_members/_research.html" %}
    </div>
  </div>

{% endblock content %}
