{% extends CMS|yesno:"base.html,lab_members/base.html,lab_members/base.html" %}
{% load sekizai_tags staticfiles thumbnail %}

{% if CMS %}
  {% load cms_tags %}
{% endif %}

{% block title %}
  {{ scientist.full_name }}{% if LAB_NAME %} | {{ LAB_NAME }}{% endif %}
{% endblock title %}

{% block content %}

  {% addtoblock "css" strip %}
    <link rel="stylesheet" type="text/css" href="{% static 'lab_members/app.css' %}">
  {% endaddtoblock %}

  <div class="container">

    <div class="row">
      {% include "lab_members/_alumni.html" %}

      <div class="col-sm-12 col-md-3">

        <div class="row text-center">
          {% if scientist.photo %}
            <img class="scientist-photo" src="{% thumbnail scientist.photo 300x300 crop upscale subject_location=scientist.photo.subject_location %}" alt={{ scientist.full_name }}>
          {% else %}
            <img class="scientist-photo" src="http://placehold.it/300x300" alt={{ scientist.full_name }}>
          {% endif %}

          <h2>{% render_model scientist "full_name" %}</h2>

          {% if scientist.title %}
            <h4>{{ scientist.title }}</h4>
          {% endif %}

          <p><a href="mailto:{{ scientist.email }}">{{ scientist.email }}</a></p>
        </div>

        {% if CMS %}
          <div class="container-fluid hidden-xs hidden-sm">
            {% render_placeholder scientist.sidebar %}
          </div>
        {% endif %}

      </div>

      <div class="col-sm-12 col-md-9">
        {% include "lab_members/_personal.html" %}
        {% include "lab_members/_research.html" %}
        {% include "lab_members/_education.html" %}
        {% include "lab_members/_employment.html" %}
      </div>
    </div>

  </div>

{% endblock content %}
