{% extends "lab_members/base.html" %}

{% block content %}

  <h1>Lab Members</h1>
  {% if scientist_list %}
    <ul>
      {% for scientist in scientist_list %}
        <li>
          <a href="{% url 'lab_members:scientist_detail' scientist.slug %}">{{ scientist.full_name }}</a>{% if scientist.title %}, {{ scientist.title }}{% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Need to add lab members!</p>
  {% endif %}

  {% if alumni_list %}
  <h1>Lab Alumni</h1>
    <ul>
      {% for scientist in alumni_list %}
        <li>
          <a href="{% url 'lab_members:scientist_detail' scientist.slug %}">{{ scientist.full_name }}</a>{% if scientist.title %}, {{ scientist.title }}{% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock content %}
